
.paginationBttns {
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
    margin: auto;
}

.paginationBttns a {
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
}

.paginationBttns li:hover {
    color: white;
    text-decoration: none;
}

.paginationDisabled a {
    display: none;
}

.paginationActive  {
    color: white;
}