.MuiListItemText-primary {
    font-family: 'Roboto', sans-serif !important;
    font-weight: bold !important;
    font-size: 18px !important;
}
.logo {
    color: white;
}
.logo:hover {
    background-color: transparent;
    color: #007bff;
    cursor: pointer;
}